#integracao2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vermelha {
  color: red;
}

.azul {
  color: blue;
}

.branca {
  color: rgba(155, 151, 151, 0.541);
}
